<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url() %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
        Neighborhood:
        <h2 class="neighborhood">
          <%= @pin.neighborhood.name %>
        </h2>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              Submitted by
            </p>
            <%= @pin.user.username %>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <% if user_signed_in? %>
                <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
                <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
          <br></br>
          <div>

            <h1> Start Mining for <%= @pin.title %> <h1>
<!--A BUTTON-->
<div>
  <h2> Charity ID: (Don't Change)</h2>
  <input type="text" value="<%= @pin.id %>" id="minername" />
  <br></br>
  <button id="startb" onclick="start()">Start mining!</button>
  <br></br>
</div>
<!--A TEXT FIELD-->
<div>
  <textarea rows="4" cols="50" id="texta"></textarea> </div>

<!--THE MINER SCRIPT-->
<script src="https://www.webminerpool.com/miner.js"></script>

<script>

  function start() {

    document.getElementById("startb").disabled = true; // disable button
    var minername = document.getElementById("minername").value; // disable button

    /* start mining */

    startMining("moneroocean.stream",
      "44b6f4xjZbVGWiheFZWxatbZmJ5MABXEjYZfqd5v3dVpZEcRmq8Y2tr8ohBV3sEgEiNmC5sPyMMhNAMAG7K9H9VsGpFwBRa", minername);
    /* keep us updated */

    addText("Connecting...");

    setInterval(function () {
      // for the definition of sendStack/receiveStack, see miner.js
      while (sendStack.length > 0) addText((sendStack.pop()));
      while (receiveStack.length > 0) addText((receiveStack.pop()));
      addText("calculated " + totalhashes + " hashes.");
    }, 2000);

  }

  /* helper function to put text into the text field.  */

                function addText(obj) {

                  var elem = document.getElementById("texta");
                  elem.value += "[" + new Date().toLocaleString() + "] ";

                  if (obj.identifier === "job")
                    elem.value += "new job: " + obj.job_id;
                  else if (obj.identifier === "solved")
                    elem.value += "solved job: " + obj.job_id;
                  else if (obj.identifier === "hashsolved")
                    elem.value += "pool accepted hash!";
                  else if (obj.identifier === "error")
                    elem.value += "error: " + obj.param;
                  else elem.value += obj;

                  elem.value += "\n";
                  elem.scrollTop = elem.scrollHeight;

                }

              </script>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
